
 .nav{
    height: 100px;
    background-color:aqua;
}
.nav ul li{
    float: right;
    color: rgb(51, 252, 10);
    display: block;
    margin-left: 20px;
    border:1px solid black;
    
}
 h1{
                
    text-align: center
    
    
     }
     h2{
         text-align: center;
     }
    
table{
    margin: auto;
    width: 50%;
    border: 1px solid;
    text-align: center;
    justify-content: center
    
}
body{
    text-align: center;
    
}
th,td{
    border: 1px solid;
}
th{
    font-size: 25px;
}
.FormBoader{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 400px;
    height: 400px;
}

    .HomeBoarder{
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 0%;
        right: 0%;
        margin: auto;
        width: 400px;
        height: 400px;
  

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    

#Name,#Email{
    width: 100%;
    margin-bottom: 10px;

}
#message
{
    margin-bottom: 10px;
    width: 100%;
    height: 50%;
   
}
button
{
    margin-top: 10px;
    width: 100%;
    height: 40px;
    color: blue;
    background-color: aqua;
}
h1{
    text-align: center;
}
th{
    font-size: 20px;
}
table{
    border: 1px solid;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    
}
th,td{
    border: 1px solid;
}
body{
    text-align: center;
}
footer
{
    border: 1px groove ;
    background: aqua;
    font-size: 20px;
    color: blue;
    bottom: 0px;
    width: 100%;
    position: fixed;
    vertical-align:left;
    vertical-align: right;
    text-align: center;
    line-height: normal;
    padding-left: 0%;
    padding-right: 0%;
}